body{
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
}
nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
   display: flex;
   align-items: center;
   background-color: gray;
   padding: 10px 20px; 
   border-radius: 20px;
}
.searchInput{
    border: none;
    background-color: transparent;
}
.searchInput::placeholder{
    color: lightgray;
}
.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 50px;
    font-weight: 300;
    font-size: 20;
    color: lightgrey;
    cursor: pointer;
}
/* SLIDER */
.slider{
    background: #111;
    min-height: calc(100vh - 120px);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}
.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderImg{
    z-index: 1;
}
.sliderBg{
    position: absolute;
    width: 650px;
    height: 750px;
    border-radius: 50%;
    background-color: gray;
}
.sliderTitle{
    position: absolute;
    color: white;
    top: 10%;
    right: 10%;
    z-index: 1;
}
.sliderDesc{
    position: absolute;
    color: white;
    top: 20%;
    right: 10%;
    z-index: 1;
    width: 300px;
    font-weight: 100;
}
.sliderPrice{
    position: absolute;
    color: white;
    top: 10%;
    left: 25%;
    font-weight: 200;
    z-index: 1;
}
.sliderButton{
    z-index: 1;
    position: absolute;
    top: 60%;
    right: 10%;
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid gray;
    font-weight: 900;
    font-size: 30px;
}
.sliderButton:hover{
    background-color: white;
    color: black;
}
